section {
    margin: 1%;
    padding: 1%;
}

h3{
    margin-bottom: 10px;
}

/*mixin con variables*/
@mixin icons($tpx) {
    width: $tpx;
    height: $tpx;
    display: block;
    margin: auto;
}

.icon {
    @include icons(50px);
}

.iconprod {
    @include icons(100px);
}

.producto {
    @include icons(150px);
}

.contacto {
    height: 40px;
}

.detalleprod {
    text-align: center;
    color: #031423;
}

.hrefseccion {
    color: black;
    text-decoration: none;
    text-align: center;
    /*--bs-nav-link-hover-color: #6c757d;*/ 
}

.hrefseccion:hover {
    color: $colorHover; //#6c757d;
}

/*map-get*/
//index.html
.productos-grid-responsive {
    display: grid;
    grid-template-columns: map-get($columnas,c5); //1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-gap: 1rem;

    a {
        div { 
            h4 {
                height: 50px;
                margin: 10px;
            }
        }
    }
}

.instagram {
    color: darkmagenta;
}

.whatzaap {
    color: #00bb2d;
}

//pag/empresas.html
.garantia-grid-responsive {
    display: grid;
    grid-template-columns: map-get($columnas,c5);//1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-gap: 1rem;

    div {
        h6 {
            text-align:center;
            height: 50px;
            margin: 10px;
        }

        p {
            text-align: -webkit-center;
        }
    }
}

.contacto-grid-responsive {
    display: grid;
    grid-template-columns: map-get($columnas,c2); //1fr 1fr;
    gap: 10px;
    div {
        max-width: 100%;
    }
}


@media (max-width: 700px) {
    .productos-grid-responsive {
        grid-template-columns: map-get($columnas,c3); //1fr 1fr 1fr;
    }

    .garantia-grid-responsive {
        grid-template-columns: map-get($columnas,c3); //1fr 1fr 1fr;
    }

    .contacto-grid-responsive {
        grid-template-columns: map-get($columnas,c1); //1fr;
    }
}

@media (max-width: 450px) {
    .productos-grid-responsive {
        grid-template-columns: map-get($columnas,c2); //1fr 1fr;
    }

    .garantia-grid-responsive {
        grid-template-columns: map-get($columnas,c2);//1fr 1fr;
    }
}

@media (max-width: 380px) {
    .productos-grid-responsive {
        grid-template-columns: map-get($columnas,c1); //1fr;
    }

    .garantia-grid-responsive {
        grid-template-columns: map-get($columnas,c1); //1fr;
    }
}
/*
@media (min-width: 450px){
    .container, .container-sm {
        max-width: 100%;
    }
}*/

