footer {
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #031423;
    color: #ff6900;

    #piepag {
      max-width: 98%;

      div {
        div {
          h6 {
            text-transform: uppercase;
          }
        }
      }
    }
}

.contacto {
  display: inline-flex;
  p {
    padding-left: 15px;
  }
}


.correo {
  color: chocolate;
}

.instagram {
  color: darkmagenta;
}

.whatzaap {
  color: #00bb2d;
}

