//variable
$colorPrincipal: #ff6900;
$colorHover: #6c757d;
$colorbg: #031423;

//Map 
$columnas: (
    c5: 1fr 1fr 1fr 1fr 1fr,
    c4: 1fr 1fr 1fr 1fr,
    c3: 1fr 1fr 1fr,
    c2: 1fr 1fr,
    c1: 1fr
)



