* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: emoji;/* auto; inherit;*/
    /*font-family: sans-serif;*/
}

@import 'variables';
@import 'header';
@import 'body';
@import 'footer';